
@{
    ViewBag.Title = "CompatableMatches";
    Layout = "~/Views/Shared/_Layout_New_Dashboard.cshtml";

    var dbcount = ViewBag.dbCount;
    var Currentpage = ViewBag.Currentpage;
    var SourcePage = ViewBag.Sourcepage;
}

<div class="container">
    <div class="row" style="background:#fff; margin-top:50px;">
        <div class="row">
            <div class="col-md-12" style="padding:25px 0px 15px 0px;">
                <div class="mainH1" style="text-align:center;">Compatible Matches</div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom:30px;">
        <div id="CompatableMatchesReasult">
            @Html.Partial("_SearchResult")
        </div>
    </div>

</div>
<script>
  
    function getCompatableMatches(page) {
        var from = 2;
        $('#CompatableMatchesReasult').html('');
        $.ajax('/DashBoard/CompatableMatches', {
            type: 'POST',  // http method
            data: { pageIndex: page, From: from },  // data to submit
            success: function (data, status, xhr) {
                // $('p').append('status: ' + status + ', data: ' + data);
                $('#CompatableMatchesReasult').html(data);
            },
            error: function (jqXhr, textStatus, errorMessage) {
                // $('p').append('Error' + errorMessage);
            }
        });
    }
</script>


