@model WEvaha.Models.DashboardProfileModel
@{
    ViewBag.Title = "WhoViewedMe";
    Layout = "~/Views/Shared/_Layout_New_Dashboard.cshtml";
    var dbcount = ViewBag.dbCount;
    var Currentpage = ViewBag.Currentpage;
    var SourcePage = ViewBag.Sourcepage;
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<div class="container">
    <div class="row" style="background:#fff; margin-top:50px;">
        <div class="row">
            <div class="col-md-12" style="padding:25px 0px 15px 0px;">
                <div class="mainH1" style="text-align:center;">Who Viewed My Profile</div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom:30px;">
        <div id="WhoViewedmeReasult">
            @Html.Partial("_SearchResult")
        </div>
    </div>
    @if (dbcount != null)
    {
        <div class="row">
            <div class="col-md-12" style="margin-top:35px; text-align:center;">
                <nav>
                    <ul class="pagination">
                        @if (dbcount != 0)
                        {
                            <li><a onclick="getwhoviewedmedata(1);" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        }
                        @for (int i = 1; i <= dbcount; i++)
                        {
                            <li><a onclick="getwhoviewedmedata(@i);">@i</a></li>
                           
                        }
                        @if (dbcount != 0)
                        {
                            <li><a onclick="getwhoviewedmedata(@dbcount);" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    }
</div>
<script type="text/javascript">   
    function getwhoviewedmedata(page) {     
        var url = "/Dashboard/pWhoViewedMe"
        $.ajax(url, {
            type: 'POST',  // http method
            data: { PageIndex: page },        
            success: function (data, status, xhr) {              
                $('#WhoViewedmeReasult').html('');
                $('#WhoViewedmeReasult').html(data);
            },
            error: function (jqXhr, textStatus, errorMessage) {
                $('p').append('Error' + errorMessage);
            }
        });              
    }
</script>



