@model List<WE.BusinessEntities.MessageUserList>

<div class="row">
    <div class="col-md-12" style="border-bottom:#e7e7e7 1px solid; margin-bottom:15px; padding-left:15px; padding-top:51px;">
    </div>
</div>

<div class="row" style="padding-right:5px;">
    <div class="col-md-12" style="padding-right:10px; overflow-y: scroll; height:320px;">

        <div style="text-align:center;">
            <div class="inbox_rigSideImg center-block"><img src="~/assets/img/profileImg/4.jpg" alt="pic"></div>

            <h4 style="font-size:20px;">Teja</h4>
            <div style="font-size:18px; color:#333;"><strong>Profile ID :</strong> WV001157</div>
        </div>


    </div>
</div>
