
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<!--================ Start Home Banner Area =================-->
<section class="banner_area" style="background:url(../img/banner/abt_innerBan.jpg)  no-repeat center center">
    <div class="abtImg banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <!--<div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-6">
        <div class="banner_content text-center">
        <h2>About Us</h2>
        <div class="page_link">
        <a href="index.html">Home</a>
        <a href="about-us.html">About Us</a>
        </div>
        </div>
        </div>
        </div>
        </div>-->
    </div>
</section>


<section class="feature_area section_gap_top1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-lg-12">
                <div class="main_title text-center">
                    <h2 class="mb-3 wevahaHead"><span style="color:#00bcd5;">About WEvaha.com</span></h2>

                    <p style="font-style:normal;">
                        <br>
                        Marriage is considered a sacred bond in all Indian cultures. It is an important life event in anyone’s life. Marriage is said to trigger compromise, adjustment, and understanding between two people. So, it is better to be wise and precautionary before choosing your better half. WEvaha.com is the most trusted online matrimony service provider to the Indian Community across the globe. With an exclusive database of single Indians, including NRIs, and foreign
                        brides and grooms. Our Indian dating site helps you meet with potential life partners as per your preferences.<br>
                        <br>

                        WEvaha started with a simple objective to achieve. It was to help people find happiness. WEvaha.com has differentiated itself from other matrimonials through its innovation-led approach since the beginning. By redefining the way Indian brides and grooms meet for marriage, WEvaha.com has created a world-renowned brand that has revolutionized how people can find a life partner.<br>
                        <br>

                        On WEvaha.com, you get to know them better, offer a marriage proposal, and build relationships that last for a lifetime. Not only this, we are providing a safe profile protection to all of our customers. Our Website is built using Artificial Intelligence technology keeping security as our highest concern. We take the security and privacy concerns seriously to provide a safe space for every user in India.
                    </p>

                </div>
            </div>
        </div>



    </div>
</section>



<div class="container-fluid" style="padding-top:50px; padding-bottom:50px;  background:#ededee;">
    <div class="container">

        <div class="row">
            <div class="col-md-4 text-center"><img src="../img/vision.jpg" class="img-resp" alt="img"></div>
            <div class="col-md-8" style="padding-top:70px;">
                <h2 class="mb-3 wevahaHead"><span style="color:#B0B000;">Our Vision</span></h2>

                <p>Our purpose is to build a better online matrimonial space for singles looking for happy marriages. We wish to create a better Indian matrimony service to help singles find the most suitable partner. Our team has helped millions of Indians find their soulmate through our platform. We see us helping more and more Indian families from all religious backgrounds meet their partners.</p>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid" style="padding-top:50px; padding-bottom:50px;">
    <div class="container">

        <div class="row">

            <div class="col-md-7" style="padding-top:70px;">

                <h2 class="mb-3 wevahaHead"><span style="color:#B0B000;">Our Mission</span></h2>

                <p>
                    Our goal is to become the leading Indian matrimony website. We are making happy marriages happen since our inception, and our team understands the importance of choosing the right partner for marriage in the Indian cultural setup. We aim to offer a seamless user interface to Indians to help make their dreams come to life.<br>
                    <br>
                    <strong style="color:red;"> Note :</strong><br>

                    WEvaha is an Indian matchmaking service meant for users having the intent of discovering a soulmate for a lifetime. Our website is not for users interested in one time dating. We do not tolerate posting any obscene material. We strive to help our customers find their perfect soulmate, but not at risk of break-in our policies. Any violation may lead to the permanent deletion of the user profile.
                </p>
            </div>
            <div class="col-md-5 text-center" style="padding-top:80px;"><img src="../img/abt_img.jpg" alt="img" class="img-resp"></div>
        </div>
    </div>
</div>


<div class="container-fluid" style="padding-top:50px; padding-bottom:50px;  background:#ededee;">
    <div class="container">

        <div class="row">
            <div class="col-md-5 text-center"><img src="../img/inner/abt_2.jpg" alt="img" class="img-resp"></div>
            <div class="col-md-7" style="padding-top:50px;">
                <h2 class="mb-3 wevahaHead"><span style="color:#B0B000;">A secure way to search for a soulmate!</span></h2>

                <p>
                    At WEvaha, we believe in providing the most secure and convenient matchmaking experience to all users. Our team ensures 100% screening of profiles, privacy options, and verification of phone numbers. While our online matrimonial site connects millions of people directly, we continue to extend our customer care team to resolve issues. WEvaha offers online Match Point Centers across the globe. Our platform helps with deeper personal interaction between singles
                    and their families.
                </p>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid" style="padding-top:10px; padding-bottom:30px;">
    <div class="container">

        <div class="row">

            <div class="col-md-7" style="padding-top:100px;">

                <h2 class="mb-3 wevahaHead"><span style="color:#B0B000;">WEvaha - The seal of trust!</span></h2>

                <p>
                    Once you create your profile on WEvaha.com, the verification of phone numbers gets initiated before providing matrimony recommendations. We provide special privacy options for all users of our Indian matrimony website at no additional costs. You can trust WEvaha matrimonial website to create a profile for free. WEvaha is a perfect destination to find your soulmate with a seal of trust. Start searching for the right partner for your life! You can give us a call to get personalized premium matchmaking services.
                </p>
            </div>
            <div class="col-md-5 text-center" style="padding-top:80px;"><img src="../img/img1.jpg" alt="img" class="img-resp"></div>
        </div>
    </div>
</div>


<div class="container-fluid" style="padding-top:50px; padding-bottom:50px;  background:#ededee;">
    <div class="container">

        <div class="row">
            <div class="col-md-4 text-center"><img src="../img/inner/abt_user.png" alt="img"></div>
            <div class="col-md-8" style="padding-top:70px;">
                <h2 class="mb-3 wevahaHead"><span style="color:#B0B000;">User Module</span></h2>

                <p>A User can choose to self-communicate by choosing the stand-alone User module. Here the User gets to communicate everything by themselves without a third party interference. Please refer to the Users Module under WEvaha Tours.</p>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid" style="padding-top:50px; padding-bottom:50px;  background:#fff;">
    <div class="container">

        <div class="row">
            <div class="col-md-12" style="padding-top:30px;">
                <h2 class="mb-3 wevahaHead"><span style="color:#B0B000;">Meet the Team</span></h2>

                <p>WEvaha leaders bring in decades of diverse experience and a history of success. We are a Team that has experience in Indian Matrimony Field and helped build a Startup to be one of the most reputed names across the globe and later on merged with another reputed firm. As a team we are all experienced in the Indian Matrimonial Field Located in India & USA and are IT Savvy and combining this with Business Acumen, our Executives and our team guide more talented employees to create innovative methods to enable customers around the world to have confidence in their information and interactions. We have the best leaders who drive the organization in a stealth mode with the right attitude and the right power by staying focused. We are a team of Dynamic-Power-Performers.</p>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid Borgradient" style="background:url(../img/banner/find-Banner.jpg) center; background-size:cover; padding:40px 0px 30px 0px; ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="mt-3 mb-2 text-center" style="color:#2d2d2b; font-size:30px; font-weight:500;">We Make People Meet Once</span><br>

                <span class="mt-3 mb-2 text-center" style="color:#b20d56; font-size:24px; font-weight:normal; font-style:italic;">Love binds them forever!</span><br>

                <div class="wevahaHead" style="color:#2d2d2b; margin-top:20px; margin-bottom:20px;">Find Someone Special For You!</div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <div style=" margin:20px 0px;">
                    <img src="../img/sign-icon.png" width="66" height="72" alt="signup">
                    <span class="mt-3 mb-2 text-center" style="color:#006d93; font-size:22px; font-weight:500; padding-left:10px;">Sign Up</span>
                </div>

                <p style="color:#424240;">Start your journey of finding your special someone. Register for free on WEvaha, and set up your profile. Make your profile visible to your potential partner at WEvaha. Anyone interested in your profile can send you a connection request.</p>

            </div>

            <div class="col-md-4 text-center">
                <div style=" margin:20px 0px;">
                    <img src="../img/connect-icon.png" width="66" height="72" alt="signup">
                    <span class="mt-3 mb-2 text-center" style="color:#ea4a19; font-size:22px; font-weight:500; padding-left:10px;">Connect</span>
                </div>

                <p style="color:#424240;">Find profiles that match your requirements. Find a suitable Indian partner online at WEvaha. Send connection requests after checking out the bio of your potential partner. See how things go from there!</p>

            </div>

            <div class="col-md-4 text-center">
                <div style=" margin:20px 0px;">
                    <img src="../img/interact-icon.png" width="66" height="72" alt="signup">
                    <span class="mt-3 mb-2 text-center" style="color:#b9094d; font-size:22px; font-weight:500; padding-left:10px;">Interact</span>
                </div>

                <p style="color:#424240;">Once connected, start a conversation with your potential partner. Schedule a meeting andcheck your compatibility. After all, your next interaction may turn out special. So, skim through your connections at WEvaha and start talking now.</p>

            </div>

        </div>


    </div>
</div>

