
@{
    ViewBag.Title = "DatingProfile";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<section class="banner_area" style="background:url(../img/banner/terms_innerBan.jpg)  no-repeat center;">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <!--<div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-6">
        <div class="banner_content text-center">
        <h2>About Us</h2>
        <div class="page_link">
        <a href="index.html">Home</a>
        <a href="about-us.html">About Us</a>
        </div>
        </div>
        </div>
        </div>
        </div>-->
    </div>
</section>


<section class="feature_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-lg-12">
                <div class="main_title text-center">
                    <br>

                    <br>

                    <h2 class="mb-3 wevahaHead"><span style="color:#00bcd5;">How to Write the Perfect Dating Profile</span></h2>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">



                <p style="color:#8A8A8A;">
                    “You want me to mention about ‘Myself’…on the internet…to strangers?!!! I HATE talking about myself.” If this sounds like you, you’re in the right place. Whether you’re new to online dating or you’re looking to spice up your current situation, you’re probably curious if your online dating profile is…well, any good. In this guide, <strong>we’re going to walk you through exactly how to write the perfect online dating profile</strong>.<br>
                    <br>


                    Whether you’re using a top online dating site, a smaller niche dating site, or one of the best dating apps of the year—writing
                    the perfect dating profile is not as easy as it sounds. The fact that you’re here with us, though, probably means we don’t need to tell you that one. By now, you’ve probably been staring at a blank page for a while, or you’ve inscribed a 100 different versions and hate them all. Either way, we at WEvaha.com got you covered.<br>
                    <br>


                    Well, remember that there is no such thing as the perfect online dating profile. There is, however, <strong>‘The Perfect Dating Profile FOR YOU’</strong>. First off, You shouldn’t be trying to compete with other daters or be someone who you are not.<strong> The whole goal is to find the right person for you.</strong> We at WEvaha.com are going to help you make the perfect profile that helps you accomplish that goal.<br>
                    <br>


                    <strong>Your dating profile should be your Hot Cherry that brings all the Girls or Boys to the yard.</strong><br>

                </p>
                <br>



                <h3>You + What You’re Looking For = A Successful Headline</h3><br>


                <p>
                    <strong>In your dating profile headline, this is great because they’ll assume they are what you’re looking for.</strong>
                    <br>
                    Here are some examples:
                </p>

                <ul class="unordered-list">
                    <li>Well-traveled man looking for a partner to accompany</li>
                    <li>Inspirational girl in search of a man who can inspire</li>
                    <li>A funny guy who needs someone who loves to laugh until they snore.</li>
                </ul>
                <br>

                <p><strong>Make sure that you are not selling yourself short in your headline.</strong> Don’t call yourself an “ordinary girl” or “just a guy” or anything like that. While this isn’t about selling yourself, you do need to get people to read your profile so they can see how awesome you are. That’s going to require you to sell yourself a bit.</p>

                <br>

                <h3>Something is Better Than Nothing</h3>

                <p>
                    If you’re struggling to write about yourself, don’t sweat it. Get something down on paper and loaded up and come back to it later. <strong>Having ANYTHING up is better than a profile that has NOTHING up</strong>. It shows like you have no commitment to the process if your profile isn’t filled out. You may be missing out on matches that think you aren’t committed to the process just because you have nothing up.
                </p>
                <br>


                <h3 style="color:#E80074; font-weight:bold;">Dating Profile Examples for Women</h3>

                <p>
                    Men, it’s your time to get out of the way. Scroll to the next section and leave the ladies alone. Ladies, what we’d like to do is walk you through a few examples of some of the more important sections of your online dating profiles that you will be writing. Remember, these examples are only examples. You should NOT take these word for word. Your profile needs to be YOUR profile with information about you.<br>
                    <br>

                    Here are a few general ideas for you for writing your dating profile.

                </p>

                <ul class="unordered-list">
                    <li>Don’t spend the whole time bashing men or men who have wronged you. Don’t mention it at all. It will scare men away.</li>
                    <li>Don’t be too forward about your plans to get married and make babies. It will scare men away.</li>
                    <li>Remember that you’re not writing your profile for the approval of other women.</li>
                </ul>
                <br>


                <br>


                <h3>About Me Section Examples</h3>

                <p>This is hands-down the most important section of your dating profile. The About Me section is your time to introduce yourself to other singles and hopefully get them interested enough to send you a message or respond to your message. If there is one area of your dating profile you’re going to spend some extra time writing, let it be this one. Let’s take a look at some examples.</p>
                <br>

                <p>
                    <span style="font-weight:bold; font-size:20px; color:#E80074;">Example 1:</span>
                    <br>

                    <i>Hi! I’m Shilpa. I’m a doctor who loves life and loves to have a good time. I’ve been in the city my entire life and don’t see myself leaving anytime soon. I love to go to the movies, drink wine with my girlfriends, volunteer, and go to the Temple. I’m looking to meet a guy who is as excited about getting out of bed in the morning as I am. If that’s you, send me a message and let’s chat.</i>
                </p>
                <br>


                <p>
                    <span style="font-weight:bold; font-size:20px; color:#E80074;">Example 2:</span>
                    <br>

                    <i>I’m Pallavi, nice to meet you fellow singles. I work as an Architect for a local company where I’ve been for the last five years. I love my job and couldn’t imagine doing anything else. I’ve only been in the city for five years, and as you might guess, I moved here for the job. For fun, I love going to the lake and running. If you’re a funny guy who likes to get outdoors, we should meet.</i>
                </p>


                <p style="color:#F00; font-size:18px;"><strong>Introduce yourself > Tell what you do and where you’re from > Tell what you like to do > Mention what you’re looking for</strong></p><br>





                <h3 style="color:#0066FF; font-weight:bold;">Dating Profile Examples for Men</h3>

                <p>
                    Ladies, scram! This is for the boys. Alright gents, now that the ladies have left, let’s get through some specific dating profile examples for men. What we’re going to focus on are the main sections that you’ll need to fill out. REMEMBER, these are just examples, and you should not copy these word for word. Your dating profile should be about you and not the people that we took these examples from.<br>
                    <br>
                </p>

                <h3>About Me Section Examples</h3>

                <p>
                    Let’s start off with undoubtedly the toughest dating profile section for people to write – the about me section. This is the section where you are forced to introduce yourself to every other single that’s looking at your profile. Here are a few simple guidelines to follow and then we’re going to get into the examples.<br>

                </p>

                <ul class="unordered-list">
                    <li>Don’t be cocky. Confidence is fine, but don’t be a douche (oops…sorry!) . Women DO NOT like it.</li>
                    <li>DO NOT LIE. Seriously, it’s sad we have to tell this to adults, but do not lie. This includes exaggerating.</li>
                    <li>It’s ok to show that you’re capable of some emotion.</li>
                    <li>Be funny if you’re a funny person, but don’t worry if you’re not. Not everyone is a comedian, and that’s okay.</li>
                </ul>
                <br>



                <br>

                <p>
                    <span style="font-weight:bold; font-size:20px; color:#0066FF;">Example 1:</span>
                    <br>

                    <i>Hi! My name is Rahul, and I’m originally from the East Coast. I moved out here a few years ago because I knew you were here. Kidding! I moved out for my work and have loved every minute of my time since I’ve been here. For fun, you’ll probably see me hiking, working out, or spending way too much time with my dogs at the dog park. There’s so much more to me, but let’s save that for when we finally meet!</i>
                </p>
                <br>


                <p>
                    <span style="font-weight:bold; font-size:20px; color:#0066FF;">Example 2:</span>
                    <br>

                    <i>Where to begin? Well, I’m a graphic designer originally, who moved to town…for a woman. Yes, I know..big mistake/don’t do it. I’m someone who loves to follow their heart, though, and isn’t scared to take a chance. My friends were right, but I don’t regret it one bit. Things didn’t work out but that was years ago, and I’m ready to meet someone special right here in my home city! My hobbies include music, concerts, and hanging out with my awesome friends. I’d love to be able to include a special lady into my life, and hey, maybe that’s you.</i>
                </p><br>


                <p>
                    <span style="font-weight:bold; font-size:20px; color:#0066FF;">Example 3:</span>
                    <br>

                    <i>I haven’t dated much in recent years because I’ve been so focused on my career. Now I’m ready to meet the person who will pull my head out of the books and bring me a bit of happiness.</i>
                </p>
                <br>


                <h3 style="color:#333333; font-weight:bold;">Casual Write up </h3>
                <br>


                <p>
                    <span style="color:#252525; font-weight:bold;">Example 1.</span><br>
                    Professional by day, Dancing Concerts and Camping by Night. I also travel to faraway places, Whether I am visiting the farm in London, trying tapas in Spain, or checking out the Met in NYC, Ok Well not exactly but shaking up the routine is who I am. When the Suit comes off at 5.00 PM, it’s time to explore life.
                </p>


                <p>
                    <span style="color:#252525; font-weight:bold;">Example 2.</span><br>
                    Investor by the Day, Sushi Connoisseur by the night, Frequent Flyer, Decent Surfer, Yoga fan Want In. So what’s your Hobby, Yoga, Cooking, Playing, Taking Artsy photos?
                </p>


                <p>
                    <span style="color:#252525; font-weight:bold;">Example 3</span><br>
                    Sure! I could be <strong>‘That Guy’</strong> and throw a bunch of nice adjectives like Adventurous, Nice, Generous, Love Sunsets or I can be just a <strong>‘Straight Forward Guy</strong>’.
                </p>
                <br>


                <p>
                    These are few examples of online dating profiles that we at WEvaha.com think are great. If you notice, they follow the same formula that you can certainly copy. It goes like this.
                </p>
                <br>


                <p style="color:#F00; font-size:18px;"><strong>Introduce yourself > Tell what you do and where you’re from > Tell what you like to do > Mention what you’re looking for</strong></p><br>


                <p>
                    If you follow this simple formula, you’re going to have a great About me section written up on your online dating profile.<br>
                    <br>

                    Aah! Look who’s all geared to write that ‘Myself’ and create that perfect dating profile. <br>
                    <br>

                    Good luck and we all at WEvaha.com welcome and congratulate you and above all wish you find that Perfect Date!
                    <br>
                    <br>

                    <span style="font-size:20px; color:#333; font-weight:600;">The WEvaha.com Team.</span>
                    <br>

                </p>
            </div>
        </div>

    </div>
</section>





<div class="container-fluid" style="background:url(../img/banner/helpBanner.jpg) center; background-size:cover; padding:80px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="color:#fff;">WE’re Here to Help You</h2>
                <p style="color:#fff; text-align:center;">Registering with WEvaha is the first step of finding A Companion-for-Life.</p>
                <h4 style="color:#fff;">WE’RE AVAILABLE 24/7 - 365 DAYS-A-YEAR</h4><br>

                <a href="@Url.Action("Index", "Home")" class="genric-btn success circle arrow">GET ZINGED<span class="ti-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>


