
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<section class="banner_area" style="background:url(../img/banner/faq.jpg)  no-repeat center;">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <!--<div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-6">
        <div class="banner_content text-center">
        <h2>About Us</h2>
        <div class="page_link">
        <a href="index.html">Home</a>
        <a href="about-us.html">About Us</a>
        </div>
        </div>
        </div>
        </div>
        </div>-->
    </div>
</section>


<section class="feature_area section_gap_top1">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-12 col-lg-12">
                <div class="main_title text-center">
                    <h2 class="mb-3 wevahaHead"><span style="color:#00bcd5;">FAQs</span></h2>



                </div>
            </div>

            <div class="col-lg-12 col-lg-12" style="margin-bottom:60px;">

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    How to register?
                                </a>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Registration on WEvaha.com is very simple! In a simple and smooth procedure, you can become a member of WEvaha.com and post your profile. All you need to do is, fill out the required information in the basic registration page available in the home page. After filling these basic details you will be guided to a detailed registration page.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    What are your partner preferences/Qualities?
                                </a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                After completing the detailed registration form you will be guided to a detailed questionnaire where your partner qualities can be filled, enabling you to choose the right partner.<br>
                                <br>


                                What information can be viewed by other members from my profile? All the registered users will be able t view the complete details apart from the contact information. The contact information can be viewed only after mutual acceptance.
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="heading3">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseTwo" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    Can I use the same e-mail ID for multiple registrations?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                            <div class="card-body">
                                No, once your Email is registered with WEvaha the same ID can never be used for another registration.
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="heading4">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseTwo" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    What is the Detailed Questionnaire?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                            <div class="card-body">
                                Then there are a set of Methodical Questions to be answered.<br>

                                These questions are related to your partner.<br>

                                These questions need to be answered accurately because then only your like-minded or well-suited match can be found.<br>

                                Once these questions are filled out we will match you with who-ever-suites-you the best.
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="heading5">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseTwo" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    What is Activation/deactivation?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                            <div class="card-body">
                                Once the registered user makes the payment his/her profile is activated. Once the payment period is completed the profile gets deactivated. The user also can deactivate the profile once their marriage is confirmed
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="heading6">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseTwo" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    How do I log in?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                            <div class="card-body">
                                Individual user- Individual user can log in by entering his/her Email ID and password.
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="heading7">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    I forgot my WEvaha ID/Password. What should I do?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
                            <div class="card-body">
                                After clicking the “Forgot password” option a new dialog box will open where you need to enter your Mail ID, then you will receive the reset password details to your mail ID.

                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="heading8">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    When and how can I upload my photo?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
                            <div class="card-body">
                                You can upload your photo after successful completion of your registration. A maximum of 10 photographs can be uploaded.

                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="heading9">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    What are the various Membership Packages?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
                            <div class="card-body">
                                WEvaha offers 4 types of Packages, they are<br>

                                1 Month Package<br>

                                3 Month's Package<br>

                                6 Month's Package<br>

                                12 Month's Package'

                            </div>
                        </div>
                    </div>





                    <div class="card">
                        <div class="card-header" id="heading10">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    What are the different modes of payments?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
                            <div class="card-body">
                                WEvaha have different modes of payment methods like Paypal, PayU, Credit Card, Debit Card and Net Banking facilities.

                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="heading11">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    What are the various Dashboards?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
                            <div class="card-body">
                                1) My Profile<br>

                                2) Upload Profile Picture , Cover Photo and other Photos<br>

                                3) Search Profiles – Basic and Advanced Search<br>

                                4) Best Liked Profiles<br>

                                5) Who Viewed Me<br>

                                6) My Messages

                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="heading12">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    What is Express Interest/Best Liked?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordionExample">
                            <div class="card-body">
                                <strong> Express interest :</strong> is a feature through which you can express your interests in the profiles you like. You can Express Interest in a member by clicking on to that option while viewing the profile.<br>
                                <br>


                                Best Liked: It is marked for the profiles which can be decided at a later date, not ignored completely but for future reference. Such a profile can later be expressed interest too

                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="heading13">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    Will my contact information be revealed to the member I have expressed my interest in?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordionExample">
                            <div class="card-body">
                                No, Your contact information will not be revealed. Through express interest feature you can select a profile and unless the other person also selects you the contact information will not be viewed.

                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="heading14">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    How do I give my feedback to WEvaha.com?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordionExample">
                            <div class="card-body">
                                Members can send any queries or doubts to Info@WEvaha.com and get immediate responses to the questions.

                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="heading15">
                            <h2 class="mb-0">
                                <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15" style="color:#B70037; font-size:16px; font-weight:bold; ">
                                    How to send messages to other interested profiles?
                                </a>
                            </h2>
                        </div>
                        <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordionExample">
                            <div class="card-body">
                                There is a dashboard where in you can type message and send to the particular person in whom you are interested. Individual users will get the messages in their WEvaha inbox
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>




    </div>
</section>





<div class="container-fluid" style="background:url(../img/banner/helpBanner.jpg) center; background-size:cover; padding:80px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="color:#fff;">WE’re Here to Help You</h2>
                <p style="color:#fff; text-align:center;">Registering with WEvaha is the first step of finding A Companion-for-Life.</p>
                <h4 style="color:#fff;">WE’RE AVAILABLE 24/7 - 365 DAYS-A-YEAR</h4><br>

                <a href="@Url.Action("Index", "Home")" class="genric-btn success circle arrow">GET ZINGED<span class="ti-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>
