
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<div class="container-fluid" style="background:url(../img/banner/regisBg.jpg) center no-repeat; overflow:hidden; z-index:0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center" style="margin-top:110px; margin-bottom:60px;">

                <form method="post" id="FGForm" name="FGForm">
                    <h3 class="text-center" style="color:#fff; font-weight:400;">Forgot Password</h3>
                    <hr color="#FFFFFF" width="50%" style="margin-bottom:20px;">



                    <div></div>


                    <div class="form-group has-search" style="background:#fff; border-radius:10px; float:left; width:100%; margin:30px 0px;">
                        <span class="fa fa-envelope form-control-feedback"></span>
                        <input type="text" name="email" id="email" class="form-control" placeholder="Your Mail" style="opacity:1; padding-bottom:23px; padding-top:23px;">
                    </div>


                    <div style="float:left; width:100%; ">
                        <button class="btn-group-lg" type="submit" value="submit" id="btnSubmit"  style="background:#F30; padding:10px 20px; border:0px; font-size:16px; color:#fff; border-radius:10px; cursor:pointer;">Submit</button>
                    </div>



                </form>

            </div>
        </div>
    </div>
</div>

<section class="feature_area section_gap_top1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="main_title text-center">
                    <h2 class="mb-3 wevahaHead"><span style="color:#616161;">Spend Time</span> <span style="color:#FF3300;">&#45;</span> <span style="color:#616161;">It&#39;s your Life</span></h2>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single_feature">
                    <div class="icon text-center"><img src="../img/match_icon.png" width="130" height="130" alt="match"></div>
                    <div class="desc">
                        <h4 class="mt-3 mb-2 text-center" style="color:#ef5d54;">Like-Minded Connections</h4>
                        <p>
                            WE do things a little differently, while you provide us your requirements our system’s Best-Algorithms will Predict &amp; Present Like-Minded Matches for you to choose from.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="single_feature">
                    <div class="icon text-center"><img src="../img/help_icon.png" width="130" height="130" alt="match"></div>
                    <div class="desc">
                        <h4 class="mt-3 mb-2 text-center" style="color:#00aeae;">Traditional Affinity</h4>
                        <p>
                            WE Value Traditions the most, but within those traditions a Compatibility Companion is what we value the utmost. WE are here to help you to make you do it Right.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="single_feature">
                    <div class="icon text-center"><img src="../img/secured_icon.png" width="130" height="130" alt="match"></div>
                    <div class="desc">
                        <h4 class="mt-3 mb-2 text-center" style="color:#617bbe;">Secure &amp; Confidential</h4>
                        <p>
                            WE have a Secure Development Life Cycle for Vulnerability Management to help &amp; secure Data by Encryption process to provide protection, Confidentiality &amp; Integrity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="sign-up-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-form-action">
                    <div class="form-heading text-center">
                        <h3 class="form-title">Forgot Password</h3>

                    </div>
                    <form method="post" id="FGForm" name="FGForm">
                        <div class="row">

                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="email" id="email" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 form-condition">
                                <div class="agree-label">
                                    <button class="m-btn" type="submit" value="submit" id="btnSubmit">
                                        Update
                                    </button>
                                </div>
                            </div>


                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>*@


<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            var email


            $('#FGForm').validate({ // initialize the plugin
                rules: {
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    email: {
                        required: "Enter Email",
                        email: "Please Enter Valid Email"
                    }
                },
                submitHandler: function (form) { // for demo
                    email = $("#email").val();
                    $.ajax({
                        type: 'POST',
                        url: "/Home/ForgotPassword",
                        data: { EmailID: email },
                        success: function (data) {
                            if (data == "Success") {
                                swal({
                                    icon: "warning",
                                    text: "Reset password link has been sent to your email id.",
                                    type: "success",
                                    buttons: false
                                });
                                window.setTimeout(function () { window.location = "../Home/Index"; }, 3000);
                            }
                            else if (data == "Request") {
                                swal({
                                    icon: "warning",
                                    text: "Reset password link has been sent to your email id, Please Reset Password",
                                    type: "success",
                                    buttons: false
                                });
                                window.setTimeout(function () { window.location = "../Home/Index"; }, 3000);
                            }
                            else {
                                swal({
                                    icon: "warning",
                                    text: "User doesn't exists.",
                                    type: "success",
                                    timer: 1000,
                                    buttons: false
                                });
                                $("#email").val('');
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                }
            });

        });
    });
</script>

