
@{
    ViewBag.Title = "Guidelines";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<!--================ Start Home Banner Area =================-->
<section class="banner_area" style="background:url(../img/banner/guide_innerBan.jpg)  no-repeat center">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <!--<div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-6">
        <div class="banner_content text-center">
        <h2>About Us</h2>
        <div class="page_link">
        <a href="index.html">Home</a>
        <a href="about-us.html">About Us</a>
        </div>
        </div>
        </div>
        </div>
        </div>-->
    </div>
</section>


<section class="feature_area section_gap_top1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-lg-12">
                <div class="main_title text-center">
                    <h2 class="mb-3 wevahaHead"><span style="color:#00bcd5;">WEvaha.com Guidelines</span></h2>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">

                <p>Welcome to the WEvaha.com community. Everyone is held to the same standard on WEvaha.com. We’re asking you to be thoughtful, think before you act, and abide by our community guidelines both on and offline. If you’re true, kind and humble to others, you’ll always be welcome here. If you choose not to be, you may not last. Our aim is to allow users to express themselves easily as long as it doesn’t upset others. You heard that right: your offline behavior can lead to termination of your WEvaha.com account.</p>



                <br>

                <h3 class="wevahaHead" style="text-align:center; color:#00bcd5;">WEvaha.com is not for:</h3>


                <h3>Violence and Physical Harm</h3>

                <p>We do not tolerate vicious, graphic, or gory content on WEvaha.com, or any actions or content that advocate for or impend violence of any sort, plus threatening or promoting terrorism. Physical assault, bullying, and any acts of violence are firmly prohibited. Content that advocates for or glorifies suicide or self-harm is also not permitted. </p>
                <br>


                <h3>Hate Speech</h3>

                <p>Any content that promotes, advocates for, or condones racism, bigotry, hatred, or violence against individuals or groups based on factors like (but not limited to) race, ethnicity, religious affiliation, disability, gender, age, national origin, sexual orientation, or gender identity is not allowed.</p>
                <br>



                <h3>Nudity/Sexual Content</h3>

                <p>No nudity, no sexually explicit content, and don’t register all of your sexual desires in your bio. Keep it clean.</p>

                <br>



                <h3>Harassment</h3>

                <p>
                    Do not engage, or encourage others to engage, in any targeted misuse or harassment against any other user. This includes sending any unwanted sexual content to your matches. Reports of stalking, threats, bullying, or intimidation, are taken very seriously.

                </p>
                <br>


                <h3>Private Information</h3>

                <p>
                    Don’t publicly broadcast any secluded information, yours or anyone else’s. This includes social security numbers, passports, passwords, financial information or unpublished contact information, such as phone numbers, email addresses, home/work address.
                </p>
                <br>


                <h3>Solicitation</h3>

                <p>
                    Soliciting other users is prohibited on WEvaha.com. It’s fine to request your matches to something that you’re doing, but if the purpose of your profile is to advertise your event or business, non-profit, political campaign, contest, or to conduct research, we may delete your account. While we’re excited that you’re doing a comedy show next week, please don’t use WEvaha.com to promote it.


                </p>

                <br>


                <h3>Prostitution and Trafficking</h3>

                <p>
                    Promoting or advocating for commercial sexual services, human trafficking or other non-consensual sexual acts is strictly prohibited and will result in your account being banned from WEvaha.com.

                </p>
                <br>


                <h3>Scamming</h3>

                <p>
                    WEvaha.com has a zero-tolerance policy on destructive behavior of any kind. Anyone attempting to get other users’ private information for fraudulent or illegal activity may be banned. Any user caught sharing their own financial account information (PayPal, Venmo, Zelle, etc.) for the purpose of receiving money from other users may also be banned from WEvaha.com.

                </p>

                <br>


                <h3>Impersonation</h3>

                <p>
                    Be yourself! Don’t pretend to be someone else.<br>

                    Do not imitate, or otherwise misrepresent affiliation, connection or association with, any person or entity. This includes imitation accounts.

                </p>

                <br>


                <h3>Spam</h3>

                <p>
                    Don’t be fake. Be real instead. Don’t use WEvaha.com to drive people to external websites via a link or otherwise.
                </p>

                <br>


                <h3>Minors</h3>

                <p>
                    You must be 18 years of age or older to use WEvaha.com. As such, we do not allow images of unaccompanied minors. If you want to post photos of your children, please make sure that you are in the photo as well. If you see a profile that includes an unaccompanied minor, encourages harm to a minor, or depicts a minor in a sexual or suggestive way, please report it immediately.
                </p>
                <br>



                <h3>Copyright and Trademark Infringement</h3>

                <p>
                    If it’s not yours, don’t post it. If your WEvaha.com profile includes any work that is copyrighted or trademarked by others, don’t display it, unless you are allowed to do so.
                </p>
                <br>


                <h3>One Person, One Account</h3>

                <p>
                    WEvaha.com accounts cannot have multiple owners, so don’t create an account with your friend or significant other. Additionally, please don’t maintain multiple WEvaha.com accounts.
                </p>
                <br>


                <h3>Third Party Apps or Portals</h3>

                <p>
                    The use of any apps or Websites created by anyone other than WEvaha.com that claim to offer our service or unlock special WEvaha.com features is not allowed.
                </p>
                <br>


                <h3>Account Inactivity</h3>

                <p>
                    We may delete your account for inactivity, so please ensure you are active if you have a membership.
                </p>
                <br><br>


                <h3 style="text-align:center; color:#090;">REPORT ALL BAD BEHAVIOR</h3>
                <br>

            </div>
        </div>

    </div>
</section>





<div class="container-fluid" style="background:url(../img/banner/helpBanner.jpg) center; background-size:cover; padding:80px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="color:#fff;">WE’re Here to Help You</h2>
                <p style="color:#fff; text-align:center;">Registering with WEvaha is the first step of finding A Companion-for-Life.</p>
                <h4 style="color:#fff;">WE’RE AVAILABLE 24/7 - 365 DAYS-A-YEAR</h4><br>

                <a href="@Url.Action("Index", "Home")" class="genric-btn success circle arrow">GET ZINGED<span class="ti-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>
