
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<!--================ Start Home Banner Area =================-->
<section class="banner_area" style="background:url(../img/banner/privacy_innerBan.jpg)  no-repeat center">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <!--<div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-6">
        <div class="banner_content text-center">
        <h2>About Us</h2>
        <div class="page_link">
        <a href="index.html">Home</a>
        <a href="about-us.html">About Us</a>
        </div>
        </div>
        </div>
        </div>
        </div>-->
    </div>
</section>


<section class="feature_area section_gap_top1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-lg-12">
                <div class="main_title text-center">
                    <h2 class="mb-3 wevahaHead"><span style="color:#00bcd5;">Privacy Policy</span></h2>

                    <p style="font-style:normal; text-align:center;">
                        The Last update to our Privacy Policy was Posted on Oct 27th, 2020. This Privacy governs the Privacy Policy of our Web Site, www.wevaha.com.
                    </p>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h3>Definitions</h3>

                <p>
                    “Non-Personal Facts” (NPF) is information that is in no way personally recognizable and that is obtained automatically when you access our Website with a browser.“Personally Identifiable Facts (PIF) is non-public information that is personally identifiable to you obtained for us to provide you with a product or service. PIF may include information such as your Name, Address, Phone and Contact Information, and other related information that you provide to us.
                </p>
                <br>


                <h3>Our Obligation & Committment To Your Policy</h3>

                <p>
                    Our Privacy policy tells you what PIF we may gather form you, how we may share your PIF, and how you can limit our sharing of your PIF. WEvaha.com is committed to the security and privacy of all our customers. We take your Privacy seriously, and we will work with you to ensure that you have an enjoyable online experience.<br>
                    <br>


                    WEvaha.com and our affiliates respect your privacy and recognize the need for applicable Security and administration of our PIF you share with us.As a part of our commitment, we have adopted the guidelines used by the Direct Marketing Association Privacy Promise to consumers all across the globe. Other than a necessary to provide you with goods and services, we agree to Deliver our customers with notice of their ability to opt out of information exchange with our affiliates and honor our customers’ requests not to have their information transferred to our affiliates and honor our customers’ requests not to receive solicitations form our affiliates.
                </p>
                <br>



                <h3>Links To Further Websites</h3>

                <p>
                    Our Website may comprise link to other websites. You understand that these website are not under our control and are not subject to our privacy policy. These websites will likely have their own privacy policies. We have no responsibility for these websites and provide links to this website solely for you convenience.<br>
                    <br>


                    You acknowledge that your use and access of these websites is solely at your own risk. It is your responsibility to check the privacy policies of these websites to see how they treat your personal information.
                </p>
                <br>



                <h3>Information We Collect</h3>

                <p>
                    We use PIF that you provide for our internal purposes, such as confirming and tracking your order, subscription or registration; analyzing statistics and demographics; and informing to you of new products, services, and offers as provided by us and / or our affiliates.<br>
                    <br>


                    Our affiliates may have products, services, or offers about which you may be interested in receiving information and they may use the PIF we have for you to contact you. If you don’t want to receive information from our affinities, you can let us know so you’re no longer contacted by our affiliates about their products, services, or offers.<br>
                    <br>


                    We may also combine information you give us online or through printed forms; publicly available information; and information we receive from other parties. We use this combined information for your online experience and a let you know about new products, services, offers, and other promotions.<br>
                    <br>


                    To give you the best possible service, we may use our affiliates to provide contracted services for our business, including, but not limited to processing credit cards, hosting our website, shipping products to you, or advertising. In many cases, we will need to provide some if not all the PIF you provide to use so our affiliates can perform these services. Our affiliates are only authorized to use your PIF as provided within this privacy policy.<br>
                    <br>


                    There are times that we may have to disclose your PIF to comply with laws; to assist law enforcement and governmental agencies in preventing or investigating fraud or other crimes, or in response to a court order. In such instances, we will only provide the PIF requested and your PIF will only be used for legal purposes as opposed to marketing.<br>
                    <br>


                    Finally, if we sold or transferred our business, we would transfer your PIF to the Purchaser as appropriate and might also retain a copy of your PIF for a new business ventures we would start.
                </p>
                <br>


                <h3>Changing Your Information</h3>

                <p>
                    You may change your PIF at any time using facilities found on our websites. If you need assistance with updating your PIF or removing yourself from our mailing list, just send us an email with your request.
                </p>
                <br>


                <h3>Opting Out of Sharing Information</h3>

                <p>
                    You can always opt out of future unaffiliated third party disclosures of your information. Such opt-out will not affect disclosures otherwise permitted by law including but not limited to:

                </p>

                <ul class="unordered-list">
                    <li>Revelations to affiliates,</li>
                    <li>Revelations to third -party service providers who provide certain services for our business, such as credit cards processing, computer system services, shipping, data management, or promotional services.</li>
                    <li>Revelations third- party as necessary to fulfill your requests,</li>
                    <li>Revelations to governmental agencies or law enforcement departments or otherwise required to be made under applicable law.</li>
                    <li>Previously completed disclosures to third party or</li>
                    <li>Revelations to third-parties in connection with contests or promotions you may choose to enter, or third-party offers you may choose to accept.</li>
                </ul>

                <br>


                <h3>Protecting Your Child’s Privacy</h3>

                <p>
                    We follow the Children’s online Privacy Protection Act (COPPA). Even though our website is not designed for use by anyone under the age of 18 (child), we realize that a child may attempt to access our website. We do not knowingly collect PIF from a child. If you are parent or guardian and believe your child is using our website, please contact us. We may ask for proof of identification before we remove any information to prevent malicious removal of account information. If we discover on our own that a child accessing our website, we will delete the information as soon as we discover it, we will not use the information for any purpose, and we will not disclose the information to third party. You acknowledge that we do not verify the age of our users nor do we have liability to do so. If you’re a child, please seek the permission of a parent or guardian before accessing our website.
                </p>
                <br>


                <h3>Our Email Policy</h3>

                <p>
                    Our affinities and we fully comply with the federal CAN-SPAM Act. You can always opt out of receipt of further email correspondence form us or affiliates .we will not sell, rent, or trade your email address to any unaffiliated third- party without your Permission.
                </p>
                <br>


                <h3>Our Security Policy</h3>

                <p>
                    We have taken steps to build our Website using sophisticated encryption and authentication tools to protect the security of your PIF. When we collect your PIF through our website, we will encrypt you PIF before it travels over the internet using industry standards as establishing for conducting secure online transactions. We also use industry standard technologies such as secure routers and fire walls to make sure that your PIF is safe. Unfortunately, we cannot fully guarantee secure data transmission over the internet because of its nature.<br>
                    <br>

                    Once we receive your PIF, we have industry standard security measures in place to protect against the loss or misuse of your PIF, though again, we cannot fully guarantee against such loss or misuses. We strongly argue you to protect any password you may have for our website and not share it with anyone. you should always log out of our website when you are done using it, especially if you are sharing a computer in a public place.
                </p>
                <br>



                <h3>Use of Credit Cards</h3>

                <p>
                    You may have to provide a credit card to buy products and services form our website. We use third –party billing services and HAVE NO CONTROL over the services. We use our commercially reasonable efforts to make sure that your credit card number is kept STRICTLY CONFIDENTIAL by using only third-party billing service that use industry - standard encryption technology to protect your credit card number from unauthorized use. However, you understand and agree that we are in no way responsible for any misuse of your credit card number.
                </p>
                <br>


                <h3>Cookies</h3>

                <p>
                    Our website may send a “cookie” to your computer. A cookie is a small piece of data that is sent to your browser from a web server and stored your computer’s hard drive. A cookie cannot read data off your hard disk or read cookie files created by other sites. A cookie’s do not damage your system. We use cookie to identify which area of our site you have visited, so the next time you visit the site, we can better personalize the content that you see on our website. Most browsers can be set to disable to use of cookies. However, if you disable cookies, you may not be able to use certain functionality on our website correctly or at all. We never place PIF in cookies.
                </p>
                <br>


                <h3>Web Beacons</h3>

                <p>
                    We may also use web beacons to collect NPF about your use of our website and those of our affiliates, and your use of special promotions or newsletters. The information we collect by web beacons allow us to statistically monitor the number of people that open our emails and why they opened our emails. Our web beacons are not used to track your activity outside of our website or those of our affiliates. We do not link NPF from Web beacons to PIF without your permission.
                </p>
                <br>


                <h3>Changes to Our Privacy Policy</h3>

                <p>
                    As necessary to address changes in laws or our business practices, we may modify our privacy policy, in whole or in part, to address these changes. We will typically notify users by some message on our website home page that our privacy policy has changed. We will also change the ‘Last Updated” date at the beginning of this privacy policy. Any changes we make to our privacy policy are effective as of this Last Updated date and replace any prior privacy policies. We encourage you to review our privacy policy periodically to make sure you still to agree with it.
                </p>
                <br>


                <h3>Question about Our Privacy Policy</h3>

                <p>
                    If you have any questions about our privacy policy, please contact us using the Contact us  information found on our website.

                </p>
                <br>


            </div>
        </div>

    </div>
</section>





<div class="container-fluid" style="background:url(../img/banner/helpBanner.jpg) center; background-size:cover; padding:80px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="color:#fff;">WE’re Here to Help You</h2>
                <p style="color:#fff; text-align:center;">Registering with WEvaha is the first step of finding A Companion-for-Life.</p>
                <h4 style="color:#fff;">WE’RE AVAILABLE 24/7 - 365 DAYS-A-YEAR</h4><br>

                <a href="@Url.Action("Index", "Home")" class="genric-btn success circle arrow">GET ZINGED<span class="ti-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>
