
@{
    ViewBag.Title = "SafetyTips";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<!--================ Start Home Banner Area =================-->
<section class="banner_area" style="background:url(../img/banner/safety_innerBan.jpg)  no-repeat center">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <!--<div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-6">
        <div class="banner_content text-center">
        <h2>About Us</h2>
        <div class="page_link">
        <a href="index.html">Home</a>
        <a href="about-us.html">About Us</a>
        </div>
        </div>
        </div>
        </div>
        </div>-->
    </div>
</section>


<section class="feature_area section_gap_top1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-lg-12">
                <div class="main_title text-center">
                    <h2 class="mb-3 wevahaHead"><span style="color:#00bcd5;">WEvaha Safety Tips</span></h2>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">

                <p>Use your best judgment and put your safety first, meeting new people is thrilling, but you should always be cautious when interacting with someone you don’t know., whether you are exchanging initial messages or meeting in person use your judgement all the time. We want you to stay safe all the time and above all we want you to be safe with your WEvaha.com experience.</p>



                <br>

                <h3 class="wevahaHead" style="text-align:center; color:#00bcd5;">Be Safe Online!</h3>


                <h3>Protect Your Personal Information</h3>

                <p>Never disclose personal information. If you are a parent, limit the information that you share about your children on the profile page or in any discussions.</p>
                <br>


                <h3>Never Share Financial Information or Send Money.</h3>

                <p>Never send money, even if the person claims to be in an emergency. Never share information that could be used to access your financial accounts. If another user asks you for money, report it to us immediately at <a href="mailto:reportabuse@wevaha.com">reportabuse@wevaha.com</a>. </p>
                <br>



                <h3>Use WEvaha.com for all discussions until Safe.</h3>

                <p>Keep conversations on the <strong>WEvaha.com</strong> platform while you’re getting to know someone. People with bad intents often try to move the conversation to other means of communication.</p>

                <br>



                <h3>Report All Suspicious Behavior</h3>

                <p>If you find anyone of suspicious activity, we would like be informed about it. We will block and report if anyone try to get into any mischievous activity.</p>


                <ul class="unordered-list">
                    <li>Requests for money or donations</li>
                    <li>Underage users</li>
                    <li>Harassment, threats, and offensive messages</li>
                    <li>Inappropriate or harmful behavior during or after meeting in person</li>
                    <li>Fraudulent profiles</li>
                    <li>Spam or solicitation including links to commercial websites or attempts to sell products or services</li>

                </ul><br>



                <h3>Protect Your Account</h3>

                <p>
                    Be sure to pick a strong password, and always be careful when logging into your account from a public or shared computer. WEvaha.com will never send you an email asking for your username and password information — if you receive an email asking for account information, report it immediately.
                </p>
                <br>


                <h3 class="wevahaHead" style="text-align:center; color:#00bcd5;">Meeting in Person</h3>

                <h3>Don’t Be In A Rush</h3>

                <p>
                    Take your time and get to know the other person before agreeing to meet or chat off WEvaha.com. Don’t be afraid to ask questions to screen for any red flags or personal dealbreakers. A phone or video call can be a useful screening tool before meeting.


                </p>

                <br>


                <h3>Meet in Public and Stay in Public</h3>

                <p>
                    Meet for the first few times in a populated, public place — never at your home, your date’s home, or any other private location. If your date pressures you to go to a private location, end the date.

                </p>
                <br>


                <h3>Tell Friends and Family About Your Plans</h3>

                <p>
                    Tell a friend or family member of your plans, including when and where you’re going. Have your cell phone charged and with you at all times.

                </p>

                <br>


                <h3>Be in Control of Your Transportation</h3>

                <p>
                    We want you to be in control of how you get to and from your date so that you can leave whenever you want. If you’re driving yourself, it’s a good idea to have a backup plan such as a ride-share app or a friend to pick you up.
                </p>

                <br>


                <h3>Know Your Limits</h3>

                <p>
                    Be aware of the effects of drugs or alcohol on you specifically — they can impair your judgment and your alertness. If your date tries to pressure you to use drugs or drink more than you’re comfortable with, hold your ground and end the date.
                </p>

                <br>


                <h3>Don’t Leave Drinks or Personal Items Unattended</h3>

                <p>
                    Know where your drink comes from and know where it is at all times — only accept drinks poured or served directly from the bartender or server. Many substances that are slipped into drinks to facilitate sexual assault are odorless, colorless, and tasteless. Also, keep your phone, purse, wallet, and anything containing personal information on you at all times.
                </p>
                <br>



                <h3>If You Feel Uncomfortable, Leave</h3>

                <p>
                    It’s okay to end the date early if you’re feeling uncomfortable. In fact, it’s encouraged. And if your instincts are telling you something is off or you feel unsafe, ask the bartender or server for help.
                </p>
                <br>


                <h3 style="text-align:center; color:#090;">OVERALL BE SAFE BE HEALTHY</h3>
                <br>

            </div>
        </div>

    </div>
</section>





<div class="container-fluid" style="background:url(../img/banner/helpBanner.jpg) center; background-size:cover; padding:80px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="color:#fff;">WE’re Here to Help You</h2>
                <p style="color:#fff; text-align:center;">Registering with WEvaha is the first step of finding A Companion-for-Life.</p>
                <h4 style="color:#fff;">WE’RE AVAILABLE 24/7 - 365 DAYS-A-YEAR</h4><br>

                <a href="@Url.Action("Index", "Home")" class="genric-btn success circle arrow">GET ZINGED<span class="ti-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>

