
@{
    ViewBag.Title = "TermsofUse";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<!--================ Start Home Banner Area =================-->
<section class="banner_area" style="background:url(../img/banner/terms_innerBan.jpg)  no-repeat center;">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <!--<div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-6">
        <div class="banner_content text-center">
        <h2>About Us</h2>
        <div class="page_link">
        <a href="index.html">Home</a>
        <a href="about-us.html">About Us</a>
        </div>
        </div>
        </div>
        </div>
        </div>-->
    </div>
</section>


<section class="feature_area section_gap_top1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-lg-12">
                <div class="main_title text-center">
                    <h2 class="mb-3 wevahaHead"><span style="color:#00bcd5;">Terms and Conditions</span></h2>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">

                <h3>PLEASE READ THESE TERMS AND CONDITIONS BEFORE REGISTRATION.</h3>

                <p style="color:#8A8A8A; font-weight:500;">By registering on WEvaha.com, you explicitly understand and agree that :</p>
                <h3>Eligibility</h3>

                <p>You must be at least 18 years of age to create an account on WEvaha and use the Service. By creating an account and using the Service, you represent and warrant that:</p>

                <ul class="unordered-list">
                    <li>By Registering you confirm a Mutually Agreed contract with WEvaha.</li>
                    <li>By Registering you confirm you are not a person who is banded from using the Service under the laws of India or any other related jurisdiction.</li>
                    <li>By Registering you confirm you will comply with this Agreement and all applicable local, state, national and international laws, rules and regulations.</li>
                    <li>By Registering you confirm you have never been convicted of or pled no challenge to an offence, a sex crime, or any crime linking violence, and that you are not required to register as a sex offender with any state, federal or local sex offender registry.</li>
                    <li>You have gone through the Terms and Conditions and agree to be bound by them.</li>
                </ul>

                <br>

                <h3>Conditions of Users</h3>

                <p>
                    Welcome to WEvaha.com and its affiliates provide their services to you subject to the following conditions. If you visit or sign up at WEvaha.com, you accept these conditions. Please read them carefully.
                </p>
                <br>


                <h3>Your Account</h3>

                <p>
                    You are accountable for managing and maintaining the confidentiality of your login credentials you use to sign up at WEvaha.com, and you are solely accountable for all activities that occur under those credentials. If you think someone has gained access to your account, please immediately at <a href="@Url.Action("ContactUs", "Home")" target="_blank">contact us</a>
                </p>
                <br>


                <h3>Interactions with Other Members</h3>

                <p>YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH OTHER MEMBERS. WEvaha.com IS NOT ACCOUNTABLE TO THE CONDUCT OF MEMBERS. YOU RECOGNIZE THAT WEvaha.com DOES NOT CONDUCT CRIMINAL BACKGROUND CHECKS ON ITS MEMBERS OR ELSE INQUIRE INTO THE BACKGROUND OF ITS MEMBERS.</p>
                <br>



                <h3>PRIVACY</h3>

                <p>
                    Use of the WEvaha.com Site and/or the WEvaha.com Service is governed by our Privacy Policy.<br>
                    <br>


                    Limitation on Liability: In no event will WEvaha.com be liable to you or any third person for any indirect, consequential, exemplary, incidental, special or punitive damages.
                </p>

                <br>



                <h3>ELECTRONIC COMMUNICATIONS</h3>

                <p>
                    When you visit WEvaha.com or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on this site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.

                </p>
                <br>


                <h3>COPYRIGHT</h3>

                <p>
                    All content included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of WEvaha.com or its content suppliers and protected by Indian and international copyright laws. The compilation of all content on this site is the exclusive property of WEvaha.com and protected by Indian and international copyright laws. All software used on this site is the property of WEvaha.com or its software suppliers and protected by Indian and international copyright laws.

                </p>
                <br>


                <h3>LICENSE AND SITE ACCESS</h3>

                <p>
                    WEvaha.com grants you a limited license to access and make personal use of this site and not to download (other than page caching).This license does not include any resale or commercial use of this site or its contents; any collection and use of any product listings, descriptions, or prices; any derivative use of this site or its contents; any downloading or copying of account information for the benefit of another merchant; or any use of data mining, robots, or similar data gathering and extraction tools.


                </p>

                <br>


                <h3>MEMBERSHIP</h3>

                <p>
                    You agree that all information that you submit upon creation of your account, is correct and honest and you have the right to post the Content on the Service and grant the license to WEvaha.com.<br>
                    <br>

                    You recognize and agree that we may screen or review any Content you post as part of a Package. We may delete any Content, in whole or in part, that in our sole judgment violates this Agreement or may harm the reputation of the Service.<br>
                    <br>

                    In consideration for WEvaha.com r allowing you to use the Service, you agree that we, our affiliates, and our third-party partners may place advertising on the Service.<br>
                    <br>

                    You agree that WEvaha.com may access, preserve and disclose your account information and Content if required to do so by law or in a good faith belief that such access, preservation or discovery is reasonably necessary.


                </p>
                <br>


                <h3>Privacy of Membership </h3>

                <p>
                    Your Membership is only for personal use. It is not to be assigned, transferred or licensed so as to be used by any other person/entity.<br>
                    <br>


                    Kindly note that, your membership in WEvaha.com is for your sole, personal use. You may not authorize others to use your membership and you may not assign or transfer your account to any other person or entity.



                </p>

                <br>


                <h3>About Cancellation</h3>

                <p>
                    <strong>MEMBERSHIP FEES ARE NOT REFUNDABLE</strong> if a member chooses to terminate the membership.



                </p>

                <br>


                <h3>Online Conduct </h3>

                <p>
                    You are responsible for the content and information including profile and photograph you post or transmit through WEvaha.com services. You will not post or transmit any content or information in whatever form they may be contained that is defamatory, blasphemous, abusive, obscene, sexually oriented, profane, intimidating, illegal or in violation of the rights of any person, including intellectual property rights.<br>
                    <br>

                    To enhance the security of its members, WEvaha has restricted copying and saving images and content from certain sections of the portal.<br>
                    <br>

                    We validate only the profile details of the member. Character verification has to be done by interested parties themselves.

                </p>

                <br>


                <h3>DISCLAIMER</h3>

                <p>
                    WEvaha.com PROVIDES THE SERVICE ON AN “AS IS” AND TO THE EXTENT ALLOWABLE BY APPLICABLE LAW ANDTAKES NO OBLIGATION FOR ANY CONTENT THAT YOU OR ANOTHER MEMBER OR THIRD-PARTY POSTS, SENDS OR RECEIVES THROUGH THE SERVICE. ANY MATERIAL DOWNLOADED OR GAINED THROUGH THE USE OF THE SERVICE IS ACCESSED AT YOUR OWN CHOICE AND RISK.<br>
                    <br>

                    WEvaha.com DISCLAIMS AND TAKES NO RESPONSIBILITY FOR ANY CONDUCT OF YOU OR ANY OTHER MEMBER, ON OR OFF THE SERVICE.
                </p>
                <br>



                <h3>REFUND OF FEE</h3>

                <p>
                    If you choose to terminate your membership, the <strong>MEMBERSHIP FEES ARE NOT REFUNDABLE</strong> under any circumstances.<br>
                    <br>

                    <strong>Provision of Service:</strong> WEvaha.com will provide the service[s] that are opted and paid for by the member<br>
                    <br>

                    <strong>Suggestions, Complaints, Disputes:</strong> Suggestions and complaints are to be first addressed to WEvaha’s customer care team at <a href="mailto:helpdesk@wevaha.com">helpdesk@wevaha.com</a>
                </p>
                <br>


                <h3>Entire Agreement</h3>

                <p>
                    This Agreement, along with the <span style="color:#F00">Privacy Policy, Cookie Policy, Safety Tips,</span> and any <span style="color:#F00">Terms</span> disclosed to you if you purchase or have purchased the Service, contains the entire agreement between you and WEvaha.com <br>
                    <br>

                    If any delivery of this Agreement is held invalid, the balance of this Agreement shall continue in full force and effect. The failure of WEvaha.com to exercise or impose any right or provision of this Agreement shall not create a waiver of such right or provision. You agree that your WEvaha.com account is non-transferable and all of your rights to your account and its Content terminate upon the end of the membership.

                </p>
                <br>

            </div>
        </div>

    </div>
</section>





<div class="container-fluid" style="background:url(../img/banner/helpBanner.jpg) center; background-size:cover; padding:80px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="color:#fff;">WE’re Here to Help You</h2>
                <p style="color:#fff; text-align:center;">Registering with WEvaha is the first step of finding A Companion-for-Life.</p>
                <h4 style="color:#fff;">WE’RE AVAILABLE 24/7 - 365 DAYS-A-YEAR</h4><br>

                <a href="@Url.Action("Index", "Home")" class="genric-btn success circle arrow">GET ZINGED<span class="ti-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>
